/*Navbar*/
.is_header_semitransparent .sticky-wrapper {
    position: absolute;
    width: 100%;
}
.is_header_semitransparent .navbar-default {
    background: rgba(0, 175, 239, 0.1) none repeat scroll 0 0;
    transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
}
.is_header_semitransparent .sticky-wrapper.is-sticky .navbar-default {
    background: rgba(0, 175, 239, 0.95) none repeat scroll 0 0;
}
.is_header_semitransparent .header-title-breadcrumb-overlay > .container {
    padding-top: 80px;
}
.navbar-default{
    border: 0 none;
}

/*SEARCH FORM*/
#navbar .fa.fa-search {
    color: rgb(85, 140, 182);
    cursor: pointer;
    padding: 35px 3px;
    position: absolute;
    /*right: 0;*/
    right: -5px;
    top: 0;
}
.header-group .breadcrumb{
    margin: 0;
}
.modeltheme-search.is_visible {
    opacity: 1;
    top: 100%;
    visibility: visible;
}
.modeltheme-search .search-input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: rgb(255, 255, 255);
    padding: 12px 16px;
}
.modeltheme-search {
    background: #002E5B none repeat scroll 0 0;
    opacity: 0;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 130%;
    transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    visibility: hidden;
}
.modeltheme-search .search-input:focus {
    border: 1px solid rgba(255, 255, 255, 0.6);
}
.modeltheme-search .search-submit {
    border: 0 none;
    padding: 12px 16px;
}
/*Navbar sub menus*/
#navbar .sub-menu,
.navbar ul li ul.sub-menu {
    background: none repeat scroll 0 0 #002E5B;
    border-top: 0 none;
    left: 15px;
    opacity: 0;
    padding-top: 0;
    position: absolute;
    text-align: left;
    top: 180%;
    transition: all 400ms ease 0s;
    -webkit-transition: all 400ms ease 0s;
    visibility: hidden;
    width: 250px;
    z-index: 9999;
}
.menu.nav-effect.nav-menu {
    margin: 0;
}

.vc_progress_bar .vc_single_bar .vc_label {
    font-size: 17px;
    font-weight: 300;
    padding: 5px 10px;
}

#navbar .menu-item-has-children .menu-item > a::before,
#navbar .menu-item-has-children .menu-item > a:hover::before {
    opacity: 0 !important;
}

#navbar .menu-item.current-menu-item > a::before, #navbar .menu-item > a:hover::before {
    opacity: 1;
    visibility: visible;
    width: calc(100% - 10px);
}

#navbar .menu-item > a:hover::after {
    height: 26px;
    opacity: 1;
}
#navbar .menu-item .sub-menu a:hover::after {
    opacity: 0;
}
#navbar .menu-item.current-menu-item .sub-menu > a::before,
#navbar .menu-item .sub-menu > a:hover::before {
    opacity: 0 !important;
}
.navbar-nav > li > a {
    padding-bottom: 30px;
    padding-top: 30px;
}
.navbar ul li:hover > ul.sub-menu {
    opacity: 1;
    top: 100%;
    visibility: visible;
}
#navbar ul.sub-menu li a {
    color: rgb(255, 255, 255);
    display: block;
    padding: 0 13px;
}
#navbar ul.sub-menu li a:hover{
    background: #00afef none repeat scroll 0 0;
}
#navbar li li {
    display: list-item; 
    list-style: none; 
}





/*FIXED HEADER TIMELINE HEADER 14-15 */
.fixed-sidebar-menu .navbar-nav.timeline-menu li a {
    border-left: 1px solid rgba(255, 255, 255,.5);
    font-weight: 300;
    margin-left: 15px;
    padding: 40px;
    position: relative;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
}
.fixed-sidebar-menu .navbar-nav.timeline-menu > li > a::before {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    height: 6px;
    left: -3.5px;
    position: absolute;
    top: 45px;
    width: 6px;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
}
.fixed-sidebar-menu .timeline-menu.navbar-nav {
    position: relative;
}
.fixed-sidebar-menu .navbar-nav.timeline-menu > li > a:hover::before {
    background: #00AFEF;
}
.fixed-sidebar-menu .timeline-menu.navbar-nav::before {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    height: 6px;
    left: 12.5px;
    position: absolute;
    top: 0;
    width: 6px;
}
.fixed-sidebar-menu .timeline-menu.navbar-nav::after {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    height: 6px;
    left: 12.5px;
    position: absolute;
    bottom: 0;
    width: 6px;
}
.fixed-sidebar-menu .navbar-nav.timeline-menu li:hover a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #00AFEF;
}
.fixed-sidebar-menu .header15 .navbar-nav.timeline-menu li a {
    border-left: 0 none;
    border-right: 1px solid #ffffff;
    font-weight: 300;
    margin-left: 0;
    margin-right: 15px;
    text-align: right;
}
.fixed-sidebar-menu .header15 .navbar-nav.timeline-menu > li > a::before {
    left: auto;
    right: -3.5px;
}
.fixed-sidebar-menu .header15 .timeline-menu.navbar-nav::before {
    left: auto;
    right: 12.5px;
}
.fixed-sidebar-menu .header15 .timeline-menu.navbar-nav::after {
    left: auto;
    right: 12.5px;
}
.fixed-sidebar-menu .header15 .left-side h3 {
    color: #ffffff;
    margin-right: 15px;
    text-align: right;
}



/*HEADER 1*/
.header1 #navbar {
    text-align: right;
}


/*HEADER 3*/
.header3 #navbar {
    text-align: right;
}
.header3 #navbar .menu {
    margin-right: 20px;
}
.header3 .navbar-collapse.collapse.hidden {
    opacity: 1;
}
.header3 .navbar-collapse.collapse {
    opacity: 0;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
}

/*HEADER 4*/
.header4 #navbar {
    text-align: right;
}
.header4 #navbar .menu {
    margin-right: 20px;
}
.header4 .navbar-collapse.collapse.hidden {
    opacity: 1;
}
.header4 .navbar-collapse.collapse {
    opacity: 0;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
}




/*HEADER 5*/
.header5 #navbar {
    text-align: center;
}



/*HEADER 8*/
.header8 #navbar {
    text-align: right;
}




/*HEADER 10*/
.header10 #navbar {
    text-align: right;
}
.header10 #navbar .menu {
    margin-right: 20px;
}
.header10 .navbar-collapse.collapse.hidden {
    opacity: 1;
}
.header10 .navbar-collapse.collapse {
    opacity: 0;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
}







/*HEADER 11*/
.header11 #navbar {
    text-align: right;
}
.header11 #navbar .menu {
    margin-right: 20px;
}
.header11 .navbar-collapse.collapse.hidden {
    opacity: 1;
}
.header11 .navbar-collapse.collapse {
    opacity: 0;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
}




/*HEADER 12*/
.header12 #navbar {
    text-align: center;
}



/*HEADER 13*/
.header13 #navbar{
    text-align: center;
}
.is_header_semitransparent .header13 .sticky-wrapper {
    position: relative;
}


/*FIXED HEADER*/
.fixed-sidebar-menu-holder {
    margin: 0;
}
.fixed-sidebar-menu .navbar {
    margin-top: 30px;
    background: transparent;
}
.fixed-sidebar-menu .logo {
    margin: 0;
    text-align: center;
}
.fixed-sidebar-menu .menu-item {
    width: 100%;
}
.fixed-sidebar-menu .navbar-nav > li > a{
    font-weight: 300;
    padding: 10px 10px;
}
.fixed-sidebar-menu > div{
    height: 100%;
}
.fixed-sidebar-menu .left-side h3 {
    color: rgb(255, 255, 255);
}
.fixed-sidebar-menu{
    background: rgba(14, 26, 33, 0.85) none repeat scroll 0 0;
    position: fixed;
    width: 300px;
    height: 100%;
    overflow-y: scroll;
    margin: 0;
    z-index: 30;
    padding: 0;
    top: 0;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
}
.fixed-sidebar-menu .left-side {
    box-sizing: border-box;
    float: left;
    height: 100%;
    opacity: 0;
    padding: 5px 20px;
    visibility: hidden;
    width: 240px;
}
.fixed-sidebar-menu.open .left-side {
    opacity: 1;
    position: relative;
    visibility: visible;
}
.fixed-sidebar-menu .right-side {
    float: left;
    height: 100%;
    padding: 10px;
    width: 60px;
    margin: 0;
}
.fixed-sidebar-menu.open .menu-button .icon-close {
    color: rgb(255, 255, 255);
    font-size: 30px;
}
.fixed-sidebar-menu.open .menu-button span.burger {
    opacity: 0;
    visibility: hidden;
}






.fixed-sidebar-menu.open {
    padding: 0;
    width: 300px;
}
.fixed-sidebar-menu .logo img, 
.fixed-sidebar-menu .navbar-header .logo img {
    max-width: 60px;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
}
.fixed-sidebar-menu.open .logo img, .fixed-sidebar-menu.open .navbar-header .logo img {
    max-width: 60px;
    transform: rotate(180deg);
}
.fixed-sidebar-menu .share-group {
    bottom: 0;
    color: rgb(255, 255, 255);
    font-size: 22px;
    left: auto;
    right: 0;
    padding: 10px 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.fixed-sidebar-menu .menu-button {
    position: relative;
    height: 38px;
    width: 38px;
    margin: auto;
    padding: 5px;
    cursor: pointer;
}
.fixed-sidebar-menu .menu-button span.burger {
    visibility: visible;
    position: absolute;
    display: block;
    margin-top: -2px;
    top: 50%;
    left: 3px;
    height: 3px;
    width: 30px;
    overflow: hidden;
    opacity: 1;
    -webkit-transition: -webkit-transform cubic-bezier(0.18,  0.89,  0.32,  1.28) 300ms, opacity cubic-bezier(0.18,  0.89,  0.32,  1.28) 300ms;
    -moz-transition: -moz-transform cubic-bezier(0.18,  0.89,  0.32,  1.28) 300ms, opacity cubic-bezier(0.18,  0.89,  0.32,  1.28) 300ms;
    transition: transform cubic-bezier(0.18,  0.89,  0.32,  1.28) 300ms, opacity cubic-bezier(0.18,  0.89,  0.32,  1.28) 300ms;
}
.fixed-sidebar-menu .menu-button span.burger .inner {
    background: #fff;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 200ms;
    -moz-transition: -moz-transform 200ms;
    transition: transform 200ms;
}
.fixed-sidebar-menu .menu-button span.burger:nth-child(1) {
    -webkit-transform: translateY(-14px);
    -moz-transform: translateY(-14px);
    -ms-transform: translateY(-14px);
    -o-transform: translateY(-14px);
    transform: translateY(-14px);
}
.fixed-sidebar-menu .menu-button span.burger:nth-child(1) .inner {
    -webkit-transform: translateX(-15px);
    -moz-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    -o-transform: translateX(-15px);
    transform: translateX(-15px);
}
.fixed-sidebar-menu .menu-button span.burger:nth-child(2) {
    -webkit-transform: translateY(-7px);
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -o-transform: translateY(-7px);
    transform: translateY(-7px);
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
.fixed-sidebar-menu .menu-button span.burger:nth-child(2) .inner {
    -webkit-transform: translateX(-3px);
    -moz-transform: translateX(-3px);
    -ms-transform: translateX(-3px);
    -o-transform: translateX(-3px);
    transform: translateX(-3px);
}
.fixed-sidebar-menu .menu-button span.burger:nth-child(3) {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.fixed-sidebar-menu .menu-button span.burger:nth-child(3) .inner {
    -webkit-transform: translateX(-13px);
    -moz-transform: translateX(-13px);
    -ms-transform: translateX(-13px);
    -o-transform: translateX(-13px);
    transform: translateX(-13px);
}
.fixed-sidebar-menu .menu-button span.burger:nth-child(4) {
    -webkit-transform: translateY(7px);
    -moz-transform: translateY(7px);
    -ms-transform: translateY(7px);
    -o-transform: translateY(7px);
    transform: translateY(7px);
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
.fixed-sidebar-menu .menu-button span.burger:nth-child(4) .inner {
    -webkit-transform: translateX(-8px);
    -moz-transform: translateX(-8px);
    -ms-transform: translateX(-8px);
    -o-transform: translateX(-8px);
    transform: translateX(-8px);
}
.fixed-sidebar-menu .menu-button span.burger:nth-child(5) {
    -webkit-transform: translateY(14px);
    -moz-transform: translateY(14px);
    -ms-transform: translateY(14px);
    -o-transform: translateY(14px);
    transform: translateY(14px);
}
.fixed-sidebar-menu .menu-button span.burger:nth-child(5) .inner {
    -webkit-transform: translateX(-8px);
    -moz-transform: translateX(-8px);
    -ms-transform: translateX(-8px);
    -o-transform: translateX(-8px);
    transform: translateX(-8px);
}
.fixed-sidebar-menu .menu-button:hover span.burger .inner {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
.fixed-sidebar-menu.opened .menu-button span.burger {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%}
.fixed-sidebar-menu.opened .menu-button span.burger .inner {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
.fixed-sidebar-menu.opened .menu-button span.burger:nth-child(1) {
    opacity: 0;
}
.fixed-sidebar-menu.opened .menu-button span.burger:nth-child(2) {
    -webkit-animation: moveandrotatex forwards 600ms cubic-bezier(0.18,  0.89,  0.32,  1.28);
    -moz-animation: moveandrotatex forwards 600ms cubic-bezier(0.18,  0.89,  0.32,  1.28);
    animation: moveandrotatex forwards 600ms cubic-bezier(0.18,  0.89,  0.32,  1.28);
}
.fixed-sidebar-menu.opened .menu-button span.burger:nth-child(3) {
    opacity: 0;
}
.fixed-sidebar-menu.opened .menu-button span.burger:nth-child(4) {
    -webkit-animation: moveandrotate forwards 600ms cubic-bezier(0.18,  0.89,  0.32,  1.28);
    -moz-animation: moveandrotate forwards 600ms cubic-bezier(0.18,  0.89,  0.32,  1.28);
    animation: moveandrotate forwards 600ms cubic-bezier(0.18,  0.89,  0.32,  1.28);
}
.fixed-sidebar-menu.opened .menu-button span.burger:nth-child(5) {
    opacity: 0;
}
.fixed-sidebar-menu.closing1 .menu-button span.burger .inner {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
.fixed-sidebar-menu.closing1 .menu-button span.burger:nth-child(1) {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.fixed-sidebar-menu.closing1 .menu-button span.burger:nth-child(2) {
    -webkit-animation: moveandrotatex-reverse forwards 600ms cubic-bezier(0.18,  0.89,  0.32,  1.28);
    -moz-animation: moveandrotatex-reverse forwards 600ms cubic-bezier(0.18,  0.89,  0.32,  1.28);
    animation: moveandrotatex-reverse forwards 600ms cubic-bezier(0.18,  0.89,  0.32,  1.28);
}
.fixed-sidebar-menu.closing1 .menu-button span.burger:nth-child(3) {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.fixed-sidebar-menu.closing1 .menu-button span.burger:nth-child(4) {
    -webkit-animation: moveandrotate-reverse forwards 600ms cubic-bezier(0.18,  0.89,  0.32,  1.28);
    -moz-animation: moveandrotate-reverse forwards 600ms cubic-bezier(0.18,  0.89,  0.32,  1.28);
    animation: moveandrotate-reverse forwards 600ms cubic-bezier(0.18,  0.89,  0.32,  1.28);
}
.fixed-sidebar-menu.closing1 .menu-button span.burger:nth-child(5) {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.fixed-sidebar-menu.closing2 .menu-button span.burger:nth-child(1) {
    -webkit-transform: translateY(-14px);
    -moz-transform: translateY(-14px);
    -ms-transform: translateY(-14px);
    -o-transform: translateY(-14px);
    transform: translateY(-14px);
}
.fixed-sidebar-menu.closing2 .menu-button span.burger:nth-child(5) {
    -webkit-transform: translateY(14px);
    -moz-transform: translateY(14px);
    -ms-transform: translateY(14px);
    -o-transform: translateY(14px);
    transform: translateY(14px);
}
.fixed-sidebar-menu.closing2 .menu-button span.burger:nth-child(2) {
    -webkit-animation: moveandrotatex-reverse forwards 600ms cubic-bezier(0.18,  0.89,  0.32,  1.28);
    -moz-animation: moveandrotatex-reverse forwards 600ms cubic-bezier(0.18,  0.89,  0.32,  1.28);
    animation: moveandrotatex-reverse forwards 600ms cubic-bezier(0.18,  0.89,  0.32,  1.28);
}
.fixed-sidebar-menu.closing2 .menu-button span.burger:nth-child(4) {
    -webkit-animation: moveandrotate-reverse forwards 600ms cubic-bezier(0.18,  0.89,  0.32,  1.28);
    -moz-animation: moveandrotate-reverse forwards 600ms cubic-bezier(0.18,  0.89,  0.32,  1.28);
    animation: moveandrotate-reverse forwards 600ms cubic-bezier(0.18,  0.89,  0.32,  1.28);
}
.fixed-sidebar-menu [data-component='share'] {
    position: relative;
    text-align: center;
}
.fixed-sidebar-menu [data-component='share']:after {
    height: 64px;
    width: 64px;
    line-height: 64px;
    content: '\e603';
    font-family: "icomoon";
    font-size: 23px;
    display: inline-block;
    padding-right: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.fixed-sidebar-menu .menu-center {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    top: 45%
}
.fixed-sidebar-menu [data-component='share'].rendered:after {
    display: none;
}
@-webkit-keyframes moveandrotatex {
    0% {
    -webkit-transform: translateY(7px) rotate(0);
}
50% {
    -webkit-transform: translateY(0) rotate(0);
}
100% {
    -webkit-transform: translateY(0) rotate(-45deg);
}
}@-moz-keyframes moveandrotatex {
    0% {
    -moz-transform: translateY(7px) rotate(0);
}
50% {
    -moz-transform: translateY(0) rotate(0);
}
100% {
    -moz-transform: translateY(0) rotate(-45deg);
}
}@keyframes moveandrotatex {
    0% {
    -webkit-transform: translateY(7px) rotate(0);
    -moz-transform: translateY(7px) rotate(0);
    -ms-transform: translateY(7px) rotate(0);
    -o-transform: translateY(7px) rotate(0);
    transform: translateY(7px) rotate(0);
}
50% {
    -webkit-transform: translateY(0) rotate(0);
    -moz-transform: translateY(0) rotate(0);
    -ms-transform: translateY(0) rotate(0);
    -o-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
}
100% {
    -webkit-transform: translateY(0) rotate(-45deg);
    -moz-transform: translateY(0) rotate(-45deg);
    -ms-transform: translateY(0) rotate(-45deg);
    -o-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
}
}@-webkit-keyframes moveandrotate {
    0% {
    -webkit-transform: rotate(0) translateY(-7px);
}
50% {
    -webkit-transform: translateY(0) rotate(0);
}
100% {
    -webkit-transform: translateY(0) rotate(45deg);
}
}@-moz-keyframes moveandrotate {
    0% {
    -moz-transform: rotate(0) translateY(-7px);
}
50% {
    -moz-transform: translateY(0) rotate(0);
}
100% {
    -moz-transform: translateY(0) rotate(45deg);
}
}@keyframes moveandrotate {
    0% {
    -webkit-transform: rotate(0) translateY(-7px);
    -moz-transform: rotate(0) translateY(-7px);
    -ms-transform: rotate(0) translateY(-7px);
    -o-transform: rotate(0) translateY(-7px);
    transform: rotate(0) translateY(-7px);
}
50% {
    -webkit-transform: translateY(0) rotate(0);
    -moz-transform: translateY(0) rotate(0);
    -ms-transform: translateY(0) rotate(0);
    -o-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
}
100% {
    -webkit-transform: translateY(0) rotate(45deg);
    -moz-transform: translateY(0) rotate(45deg);
    -ms-transform: translateY(0) rotate(45deg);
    -o-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
}
}@-webkit-keyframes moveandrotate-reverse {
    0% {
    -webkit-transform: rotate(45deg) translateY(0);
}
50% {
    -webkit-transform: translateY(0) rotate(0);
}
100% {
    -webkit-transform: translateY(-7px) rotate(0);
}
}@-moz-keyframes moveandrotate-reverse {
    0% {
    -moz-transform: rotate(45deg) translateY(0);
}
50% {
    -moz-transform: translateY(0) rotate(0);
}
100% {
    -moz-transform: translateY(-7px) rotate(0);
}
}@keyframes moveandrotate-reverse {
    0% {
    -webkit-transform: rotate(45deg) translateY(0);
    -moz-transform: rotate(45deg) translateY(0);
    -ms-transform: rotate(45deg) translateY(0);
    -o-transform: rotate(45deg) translateY(0);
    transform: rotate(45deg) translateY(0);
}
50% {
    -webkit-transform: translateY(0) rotate(0);
    -moz-transform: translateY(0) rotate(0);
    -ms-transform: translateY(0) rotate(0);
    -o-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
}
100% {
    -webkit-transform: translateY(-7px) rotate(0);
    -moz-transform: translateY(-7px) rotate(0);
    -ms-transform: translateY(-7px) rotate(0);
    -o-transform: translateY(-7px) rotate(0);
    transform: translateY(-7px) rotate(0);
}
}@-webkit-keyframes moveandrotatex-reverse {
    0% {
    -webkit-transform: translateY(0) rotate(-45deg);
}
50% {
    -webkit-transform: translateY(0) rotate(0);
}
100% {
    -webkit-transform: translateY(7px) rotate(0);
}
}@-moz-keyframes moveandrotatex-reverse {
    0% {
    -moz-transform: translateY(0) rotate(-45deg);
}
50% {
    -moz-transform: translateY(0) rotate(0);
}
100% {
    -moz-transform: translateY(7px) rotate(0);
}
}@keyframes moveandrotatex-reverse {
    0% {
    -webkit-transform: translateY(0) rotate(-45deg);
    -moz-transform: translateY(0) rotate(-45deg);
    -ms-transform: translateY(0) rotate(-45deg);
    -o-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
}
50% {
    -webkit-transform: translateY(0) rotate(0);
    -moz-transform: translateY(0) rotate(0);
    -ms-transform: translateY(0) rotate(0);
    -o-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
}
100% {
    -webkit-transform: translateY(7px) rotate(0);
    -moz-transform: translateY(7px) rotate(0);
    -ms-transform: translateY(7px) rotate(0);
    -o-transform: translateY(7px) rotate(0);
    transform: translateY(7px) rotate(0);
}
}.touchevents .fixed-sidebar-menu nav .outer {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}
[data-orientation="horizontal"] .fixed-sidebar-menu {
    -webkit-transform: translate3d(0,  -64px,  0);
    -moz-transform: translate3d(0,  -64px,  0);
    -ms-transform: translate3d(0,  -64px,  0);
    -o-transform: translate3d(0,  -64px,  0);
    transform: translate3d(0,  -64px,  0);
}
[data-orientation="horizontal"] .fixed-sidebar-menu.ready {
    -webkit-transform: translate3d(0,  0,  0);
    -moz-transform: translate3d(0,  0,  0);
    -ms-transform: translate3d(0,  0,  0);
    -o-transform: translate3d(0,  0,  0);
    transform: translate3d(0,  0,  0);
}
[data-orientation="horizontal"] .fixed-sidebar-menu .nav {
    padding: 0;
}
@media (max-width: 768px) and (orientation: landscape) {
    [data-orientation="horizontal"] .fixed-sidebar-menu .nav>.inner {
    padding: 1rem 3rem;
}
}[data-orientation="horizontal"] .nav__title h1 {
    margin: 0rem;
    font-size: 2.5rem;
    line-height: 2.4375rem;
}
@media (max-width: 768px) and (orientation: landscape) {
    [data-orientation="horizontal"] .nav__title h1 {
    font-size: 2rem !important;
    line-height: 1.3 !important;
}
}


/*SHARE ICONS NAV MENU*/

.share.share--page .share__trigger {
    background-color: #0e1a21;
    position: absolute;
    bottom: 0;
    box-shadow: 0 0 5px 5px #0e1a21;
}
.share.share--page .share__trigger:after {
    height: 64px;
    width: 64px;
    line-height: 64px;
    font-family: "icomoon";
    font-size: 23px;
    box-shadow: none;
    padding-right: 1px;
}
.share.share--page .share__list {
    bottom: 0;
    color: rgb(255, 255, 255);
    list-style: outside none none;
    opacity: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    -webkit-transform: translateY(-10%);
    -moz-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    -o-transform: translateY(-10%);
    transform: translateY(-10%);
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
    width: 100%;
    left: 0;
}
.share.share--page .share__item.icon-social-facebook:hover::before {
    color: #3B5998;
    opacity: 1;
}
.share.share--page .share__item.icon-social-twitter:hover::before {
    color: #00ACED;
    opacity: 1;
}
.share.share--page .share__item.icon-social-gplus:hover::before {
    color: #DD4B39;
    opacity: 1;
}
.share.share--page .share__item.icon-link:hover::before {
    color: #57A9C1;
    opacity: 1;
}




.share.share--page .share__item::before {
    font-size: 18px;
    opacity: 0.85;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
}
.share.share--page .share__item {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    padding: 5px;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
}
.share.share--page .share__item:after {
    height: 44px;
    width: 44px;
    line-height: 44px;
}
.share.share--page:hover .share__list, 
.share.share--page.hover .share__list {
    bottom: 0;
    list-style: outside none none;
    margin: 0;
    opacity: 1;
    padding-left: 0;
    text-align: center;
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    width: 100%;
}

@-webkit-keyframes arrows-left {
    0% {
    -webkit-transform: translate3d(0,  0,  0) scale(0.9);
    -webkit-animation-timing-function: ease;
}
10% {
    -webkit-transform: translate3d(-10px,  0,  0) scale(1);
}
20% {
    -webkit-transform: translate3d(0,  0,  0) scale(0.9);
    -webkit-animation-timing-function: ease;
}
30% {
    -webkit-transform: translate3d(-10px,  0,  0) scale(1);
}
40% {
    -webkit-transform: translate3d(0,  0,  0) scale(0.9);
    -webkit-animation-timing-function: ease;
}
100% {
    -webkit-transform: translate3d(0,  0,  0) scale(0.9);
    -webkit-animation-timing-function: ease;
}
}@-moz-keyframes arrows-left {
    0% {
    -moz-transform: translate3d(0,  0,  0) scale(0.9);
    -moz-animation-timing-function: ease;
}
10% {
    -moz-transform: translate3d(-10px,  0,  0) scale(1);
}
20% {
    -moz-transform: translate3d(0,  0,  0) scale(0.9);
    -moz-animation-timing-function: ease;
}
30% {
    -moz-transform: translate3d(-10px,  0,  0) scale(1);
}
40% {
    -moz-transform: translate3d(0,  0,  0) scale(0.9);
    -moz-animation-timing-function: ease;
}
100% {
    -moz-transform: translate3d(0,  0,  0) scale(0.9);
    -moz-animation-timing-function: ease;
}
}@keyframes arrows-left {
    0% {
    -webkit-transform: translate3d(0,  0,  0) scale(0.9);
    -moz-transform: translate3d(0,  0,  0) scale(0.9);
    -ms-transform: translate3d(0,  0,  0) scale(0.9);
    -o-transform: translate3d(0,  0,  0) scale(0.9);
    transform: translate3d(0,  0,  0) scale(0.9);
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    animation-timing-function: ease;
}
10% {
    -webkit-transform: translate3d(-10px,  0,  0) scale(1);
    -moz-transform: translate3d(-10px,  0,  0) scale(1);
    -ms-transform: translate3d(-10px,  0,  0) scale(1);
    -o-transform: translate3d(-10px,  0,  0) scale(1);
    transform: translate3d(-10px,  0,  0) scale(1);
}
20% {
    -webkit-transform: translate3d(0,  0,  0) scale(0.9);
    -moz-transform: translate3d(0,  0,  0) scale(0.9);
    -ms-transform: translate3d(0,  0,  0) scale(0.9);
    -o-transform: translate3d(0,  0,  0) scale(0.9);
    transform: translate3d(0,  0,  0) scale(0.9);
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    animation-timing-function: ease;
}
30% {
    -webkit-transform: translate3d(-10px,  0,  0) scale(1);
    -moz-transform: translate3d(-10px,  0,  0) scale(1);
    -ms-transform: translate3d(-10px,  0,  0) scale(1);
    -o-transform: translate3d(-10px,  0,  0) scale(1);
    transform: translate3d(-10px,  0,  0) scale(1);
}
40% {
    -webkit-transform: translate3d(0,  0,  0) scale(0.9);
    -moz-transform: translate3d(0,  0,  0) scale(0.9);
    -ms-transform: translate3d(0,  0,  0) scale(0.9);
    -o-transform: translate3d(0,  0,  0) scale(0.9);
    transform: translate3d(0,  0,  0) scale(0.9);
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    animation-timing-function: ease;
}
100% {
    -webkit-transform: translate3d(0,  0,  0) scale(0.9);
    -moz-transform: translate3d(0,  0,  0) scale(0.9);
    -ms-transform: translate3d(0,  0,  0) scale(0.9);
    -o-transform: translate3d(0,  0,  0) scale(0.9);
    transform: translate3d(0,  0,  0) scale(0.9);
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    animation-timing-function: ease;
}
}@-webkit-keyframes arrows-right {
    0% {
    -webkit-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
    -webkit-animation-timing-function: ease;
}
10% {
    -webkit-transform: translate3d(10px,  0,  0) scale(1) rotate(180deg);
}
20% {
    -webkit-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
    -webkit-animation-timing-function: ease;
}
30% {
    -webkit-transform: translate3d(10px,  0,  0) scale(1) rotate(180deg);
}
40% {
    -webkit-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
    -webkit-animation-timing-function: ease;
}
100% {
    -webkit-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
    -webkit-animation-timing-function: ease;
}
}@-moz-keyframes arrows-right {
    0% {
    -moz-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
    -moz-animation-timing-function: ease;
}
10% {
    -moz-transform: translate3d(10px,  0,  0) scale(1) rotate(180deg);
}
20% {
    -moz-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
    -moz-animation-timing-function: ease;
}
30% {
    -moz-transform: translate3d(10px,  0,  0) scale(1) rotate(180deg);
}
40% {
    -moz-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
    -moz-animation-timing-function: ease;
}
100% {
    -moz-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
    -moz-animation-timing-function: ease;
}
}@keyframes arrows-right {
    0% {
    -webkit-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
    -moz-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
    -ms-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
    -o-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
    transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    animation-timing-function: ease;
}
10% {
    -webkit-transform: translate3d(10px,  0,  0) scale(1) rotate(180deg);
    -moz-transform: translate3d(10px,  0,  0) scale(1) rotate(180deg);
    -ms-transform: translate3d(10px,  0,  0) scale(1) rotate(180deg);
    -o-transform: translate3d(10px,  0,  0) scale(1) rotate(180deg);
    transform: translate3d(10px,  0,  0) scale(1) rotate(180deg);
}
20% {
    -webkit-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
    -moz-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
    -ms-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
    -o-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
    transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    animation-timing-function: ease;
}
30% {
    -webkit-transform: translate3d(10px,  0,  0) scale(1) rotate(180deg);
    -moz-transform: translate3d(10px,  0,  0) scale(1) rotate(180deg);
    -ms-transform: translate3d(10px,  0,  0) scale(1) rotate(180deg);
    -o-transform: translate3d(10px,  0,  0) scale(1) rotate(180deg);
    transform: translate3d(10px,  0,  0) scale(1) rotate(180deg);
}
40% {
    -webkit-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
    -moz-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
    -ms-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
    -o-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
    transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    animation-timing-function: ease;
}
100% {
    -webkit-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
    -moz-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
    -ms-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
    -o-transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
    transform: translate3d(0,  0,  0) scale(0.9) rotate(180deg);
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    animation-timing-function: ease;
}
}






/*LEFT FIXED HEADER*/
.header6 .fixed-sidebar-menu,
.header14 .fixed-sidebar-menu {
    left: -240px;
}
.header6 .fixed-sidebar-menu.open,
.header14 .fixed-sidebar-menu.open {
    left: 0px;
}
.header6 .fixed-sidebar-menu.open .right-side,
.header14 .fixed-sidebar-menu.open .right-side{
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

/*RIGHT FIXED HEADER*/
.header7 .fixed-sidebar-menu,
.header15 .fixed-sidebar-menu {
    right: -240px;
}
.header7 .fixed-sidebar-menu.open,
.header15 .fixed-sidebar-menu.open {
    right: 0px;
}
.header7 .fixed-sidebar-menu.open .right-side,
.header15 .fixed-sidebar-menu.open .right-side{
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}







/*---------------------------------------------*/
/*--- 2. Header ---*/
/*---------------------------------------------*/
nav ul li {
    display: inline-block;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}



header.section-header {
    margin-bottom: 50px;
    position: relative;
    z-index: 10;
}
.sidebar_header .navbar-header{
    margin-top: 23px;
}
.top-header {
    background: rgb(57, 57, 57) none repeat scroll 0 0;
    color: #ffffff;
    padding: 8px 0;
}
.logo a {
    font-weight: 900;
    color: #FFFFFF;
    letter-spacing: 1.5px;
    text-decoration: none;
}
.logo a:hover {
    color: #ffffff;
}
.navbar-collapse.collapse.col-md-9 {
    width: 75%;
}
.navbar-collapse.collapse.in .menu .menu-item {
    text-align: left;
    width: 100%;
}
/* Navbar styling */

header#one-page-header {
    position: absolute;
    z-index: 999;
    width: 100%;
    top: 0;
    background: rgba(0,0,0,0.2);
}
.navbar-header .logo {
    margin: 18px 0;
}
.menu .item {
    display: inline-block;
}
.navbar-nav > li > a{
    font-size: 14px;
    font-weight: 600;
    padding: 30px 10px;
    letter-spacing: 1px;
    display: block;
    text-transform: uppercase;
    line-height: 20px;
}
.navbar-nav > li > a:hover {
    text-decoration: none;
}
.odd-post .list-view .no-featured-image.post-details .post-date {
    position: unset;
}
.even-post .list-view .no-featured-image.post-details .post-date {
    position: unset;
}
nav {
    background: #2f383d;
}
.menu .menu-item {
    display: inline-block;
}
.navbar-header .logo > a:hover,
.navbar-header .logo > a {
    color: #FFD600;
}
.navbar-header h1.logo {
    margin: 18px 0;
}
.navbar-header h1.logo.no-logo{
    font-size: 24px;
    margin: 30px 0;
}
#navbar .sub-menu {
    text-align: left;
    opacity: 0;
    position: absolute;
    width: 300px;
    top: 150%;
    left: 0;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
    visibility: hidden;
    padding: 15px;
}
#navbar .menu-item > a {
    display: block;
    font-size: 12px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 33px;
    padding: 26px 10px 23px;
    text-transform: uppercase;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
}


#navbar .menu-item > a {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    margin: 22px 0 !important;
    padding: 5px 10px !important;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
}
#navbar .menu-item > a:hover,
#navbar .menu-item.current-menu-item > a {
    border-color: #558cb6;
    color: #558cb6;
}
#navbar .sub-menu .menu-item.current-menu-item > a {
    border-bottom: none;
}
#navbar .menu-item > a,
#navbar .menu-item.current-menu-item > a {
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
}
#navbar .sub-menu .menu-item a:hover {
    border-bottom: none;
    color: #fff !important;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
}
#navbar .sub-menu .menu-item a {
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
}
#navbar .menu-item > a {
    padding: 5px 10px 5px !important;
    margin: 22px 0px !important;
}
#navbar ul.sub-menu li a {
    margin: 0px !important;
}






#navbar .menu-item:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}
#navbar .menu-item:hover .sub-menu ~ .sub-menu{
  opacity: 0;
  visibility: hidden;
}
#navbar .menu-item .sub-menu .menu-item:hover .sub-menu {
    opacity: 1 !important;
    visibility: visible !important;
}
#navbar .menu-item .sub-menu .menu-item .sub-menu {
    opacity: 0 !important;
    visibility: hidden !important;
}
#navbar .menu-item .sub-menu .sub-menu .sub-menu .sub-menu,
#navbar .menu-item:hover .sub-menu .sub-menu .sub-menu,
#navbar .menu-item.sub-menu .menu-item:hover .sub-menu {
    opacity: 0;
    visibility: hidden;
}
#navbar .menu-item:hover .sub-menu .menu-item:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    top: -5px;
}
#navbar .menu-item .sub-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 100%;
}






/*HEADER LAYOUT V2*/
.second_header .menu.nav.nav-menu,
.sixth_header .menu.nav.nav-menu {
    width: 100%;
}
.second_header .navbar-header .logo,
.sixth_header .navbar-header .logo {
    margin: 10px 0;
}
.hide_post_featured_image .single-post-featured-img {
    display: none;
}


/* HEADER LAYOUT V3 and V7 */
.third_header .menu.nav.nav-menu,
.seventh_header .menu.nav.nav-menu {
    width: 100%;
}



/*10th HEADER*/
.tenth_header .navbar-header .logo {
    margin: 20px 0 17px;
}
.tenth_header .topheader-nav-holder > div {
    position: absolute;
}
.tenth_header .top-header{
    z-index: 999;
    margin-top: 30px;
    position: relative;
}
.tenth_header nav#modeltheme-main-head {
    top: 30px;
}



/*NINETH HEADER*/
.nineth_header .navbar-header .logo {
    margin: 20px 0 17px;
}
.nineth_header .topheader-nav-holder > div {
    position: absolute;
}
.nineth_header .top-header{
    z-index: 999;
    margin-top: 30px;
    position: relative;
}






/* HEADER LAYOUT V4 and V8 */
.fourth_header .menu.nav.nav-menu,
.eighth_header .menu.nav.nav-menu {
    width: 100%;
}
.fourth_header .navbar-header .logo,
.eighth_header .navbar-header .logo {
    text-align: center;
}










/*HEADER*/
header.header12 .navbar-nav > li,
header.header13 .navbar-nav > li,
header.header5 .navbar-nav > li{
  float: none;
}
header.header12 .menu.nav-effect.nav-menu,
header.header13 .menu.nav-effect.nav-menu,
header.header5 .menu.nav-effect.nav-menu {
  float: none;
  text-align: center;
}



/*HEADER #3 Burger right*/
header.header3 .navbar-nav,
header.header10 .navbar-nav {
  float: right;
  margin-right: 30px !important;
  /*margin-right: 30px;*/
}
header.header3 #mt-nav-burger.open,
header.header10 #mt-nav-burger.open{
  right: -4px;
}
header.header3 #mt-nav-burger,
header.header10 #mt-nav-burger{
  right: 0;
}
header.header3 .menu.nav-effect.nav-menu,
header.header10 .menu.nav-effect.nav-menu {
  margin: 0;
  top: 0;
  transition: all 250ms cubic-bezier(0.98, 0.21, 0, 0.9);
  -webkit-transition: all 250ms cubic-bezier(0.98, 0.21, 0, 0.9);
  position: relative;
  opacity: 1;
  visibility: visible;
}
/*header.header3 .hidden .menu,
header.header10 .hidden .menu{
  top: -15px;
  display: block !important;
  opacity: 0;
  visibility: hidden !important;
}*/




/*HEADER #12 TOP timeline */
header.header12 {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
header.header12 .navbar-default {
    background-color: rgba(0, 0, 0, 0.4) !important;
    z-index: 2;
    position: relative;
}
header.header12 .is-sticky .navbar-default {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0 !important;
}
header.header12 .navbar-nav {
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-bottom: 20px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0;
    position: relative;
}
header.header12 .navbar-nav > li::before {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border-radius: 50%;
    bottom: -3px;
    content: "";
    height: 6px;
    left: 47%;
    position: absolute;
    width: 6px;
}
header.header12 .navbar-nav::before {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border-radius: 50%;
    bottom: -3px;
    content: "";
    height: 6px;
    position: absolute;
    left: 0;
    width: 6px;
}
header.header12 .navbar-nav::after {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border-radius: 50%;
    bottom: -3px;
    content: "";
    height: 6px;
    position: absolute;
    right: 0;
    width: 6px;
}
header.header12 .navbar-nav > li > a {
    font-weight: 400;
    padding: 10px 35px;
}
header.header12 .navbar .logo {
    display: none;
}




/*HEADER #4 Burger left*/
header.header4 .navbar-nav,
header.header11 .navbar-nav {
  float: left;
  margin-left: 30px !important;
}
header.header4 #mt-nav-burger.open,
header.header11 #mt-nav-burger.open{
  left: -4px;
}
header.header4 #mt-nav-burger,
header.header11 #mt-nav-burger{
  right: auto;
  left: 0;
}
header.header4 .menu.nav-effect.nav-menu,
header.header11 .menu.nav-effect.nav-menu {
  margin: 0;
  top: 0;
  transition: all 250ms cubic-bezier(0.98, 0.21, 0, 0.9);
  -webkit-transition: all 250ms cubic-bezier(0.98, 0.21, 0, 0.9);
  position: relative;
  opacity: 1;
  visibility: visible;
}
header.header4 .menu.nav-effect.nav-menu.hidden,
header.header11 .menu.nav-effect.nav-menu.hidden {
  top: -15px;
  display: block !important;
  opacity: 0;
  visibility: hidden !important;
}