#who_we_are_title
{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 44px;
    color:#173152;
    
}
#who_we_are_p_artical
{
    padding: 10px 5px 10px 5px;
    text-align: justify;

}
#proprietor_address
{
    text-align: center;
    
}
#manpower_header_first {
    background-color: rgb(138, 63, 63);
    height: 15vh;
    margin-top: 5px;
    

}
#manpower_header_second{
    text-align: center;
    color: aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 15px;
    


}
#manpower_header_third
{
    word-spacing: 1px;
    color: #173152;
    text-align: center;

}
#manpower_header_forth
{
    word-spacing: 14px;
}



















@media (min-width: 1024px) and (max-width: 1300px) {
#proprietor_address
{
    text-align: center;
    position: relative;
    bottom:15vh;
}
}
@media (min-width: 1300px) and (max-width: 1800px) {
    #proprietor_address
    {
        text-align: center;
        position: relative;
        bottom:15vh;
    }
    }